<html>
<head>
    <title>MusicFollower | Музыка для всех</title>
    <link href="/static/css/mainstyle.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Music Follower</span>
        <span class="navbar-brand mb-0 h1" style="float: right;">
            {% if session.get("user") != None %}
            <form class="form-inline">
                <a href="cpanel" class="btn btn-primary my-2 my-sm-0" type="submit">Панель управления</a>
            </form>
            {% else %}
            <button class="btn btn-info " type="button" data-toggle="modal" data-target="#auth">Авторизация</button>
            <button class="btn btn-outline-info " type="button" data-toggle="modal" data-target="#reg">Регистрация</button>
            {% endif %}
        </span>
    </nav>
    {% if request.args.get("status") == "error" %}
    <button id="error" onclick="setTimeout(CallAlert, 500);" hidden></button>
    <script>
        function CallAlert() {
            swal({
                title: "Ошибка!",
                text: "Возможные причины: {{ request.args.get('description') }}",
                icon: "error",
            });
        };
        document.getElementById("error").click()
    </script>
    {% endif %}
    <div align="center" class="alert alert-success" role="alert">
        Главная страница
    </div><br>
    <div class="container">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Плейлист</h5>
              <p class="card-text">

                <div class="card-deck">
                    {% for y in range(music_len) %}
                    {% if y % 3 == 0 %}
                    </div>
                    <br>
                    <div class="card-deck">
                    {% endif %}
                        <div class="card w-25">
                            <div class="card-body">
                            <h5 class="card-title">{{ music[y][1] }}</h5>
                            <p class="card-text"><small class="text-muted">Автор: {{ music[y][0] }}</small></p>
                            </div>
                            <div class="card-footer text">
                                <audio src="static/music/other/{{ music[y][0] }}_{{ music[y][1] }}" class="w-100" controls=""></audio>
                            </div>
                        </div>
                    <br>
                    {% endfor %}
                </div>
              </p>
            </div>
            <div class="card-footer text-muted">
                <a href="https://vk.com/nolimits_j" target="_blank" class="btn btn-primary">Связь с командой</a>
            </div>
        </div>
    </div>
    <!-- BACKEND MODAL -->
    <!-- Авторизация-->
    <div class="modal fade" id="auth">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="my-modal-title">Авторизация</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="users/log">
                        <div class="form-group">
                          <label for="login">Логин</label>
                          <input type="text" class="form-control" name="login" required>
                        </div>
                        <div class="form-group">
                          <label for="password">Пароль</label>
                          <input type="password" class="form-control" name="pass" required >
                          <small id="emailHelp" class="form-text text-muted">Никому не сообщайте свой пароль, даже администрации!</small>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Авторизироваться</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Регистрация-->
    <div class="modal fade" id="reg">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="my-modal-title">Регистрация</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="users/reg">
                        <div class="form-group">
                          <label for="login">Логин</label>
                          <input type="text" class="form-control" name="login" required>
                        </div>
                        <div class="form-group">
                          <label for="password">Пароль</label>
                          <input type="password" class="form-control" name="pass" required >
                          <small id="emailHelp" class="form-text text-muted">Никому не сообщайте свой пароль, даже администрации!</small>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <!-- SCRIPTS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
